<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamo Equipos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
    @page{
        size:letter;
        margin:1cm;
    }

    .table td .numero{
        text-align: center;
    }

    .table{
        border: black 1px solid;
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <center>
                <h4 class="text-center">Sistema de inventario MARSED S.A.</h4>
            </center>
                <h3>Ficha de prestamo al: {{ today|date:"d/m/Y" }}</h3>
            </div>
            <hr>
            <table class="table">
                <thead class="thead-dark">
                    <th>Id</th>
                    <th>Responsable prestamo</th>
                    <th>Empleado</th>
                    <th>Producto</th>
                    <th>Observacion</th>
                    <th>Fecha Prestamo</th>
                    <th>Estado</th>
                </thead>

                <tbody>
                    
                        <tr>
                            <td class="numero">{{prestamo.prestamo_id}}</td>
                            <td class="numero">{{prestamo.uc}}</td>
                            <td class="numero">{{prestamo.trabajador}}</td>
                            <td class="numero">{{prestamo.producto}}</td>
                            <td class="numero">{{prestamo.observacion}}</td>
                            <td class="numero">{{prestamo.fechaPrestamo}}</td>
                            <td class="numero">{{prestamo.estado|yesno:"Activo, Inactivo"}}</td>
                            
                        </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>