{% extends 'base/base.html' %}

{% block page_content %}
<form  method="POST" class="form-inline" enctype="multipart/form-data">
    {% csrf_token %}
<div class="col-xl-12 col-md-12 mb-12">
  {% if obj %}
    <div class="card border-left-warning shadow h-100 py-2">
      {% else %}
      <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              {% if obj %}
              Editar Prestamo
              {% else %}
              Nuevo Prestamo
              {% endif %}
              
            </div>
            <div class="dropdown-divider"></div>
            <div class="row p-2">
                
                    {{form.as_p}}
                
            </div>
           
            <div class="dropdown-divider"></div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-save">Guardar</span></button>
                    <a href="{% url 'prestamos:prestamo_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>
                </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block js_page %}

{% endblock %}