{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Prestamos</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>Acciones
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones</div>
          <a class="dropdown-item" href="{% url 'prestamos:prestamo_new' %}"><i class="far fa-calendar-plus"></i> Nuevo Prestamo</a>
          <a class="dropdown-item" href="{% url 'prestamos:prestamo_reporte' %}" target="reportes"><i class="fas fa-print"></i> Reporte</a>
          
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <!-- Controlo si no hay categorias con un mensaje -->
      {% if not obj %} 
      <div class="alert alert-info">
        No Hay Prestamos
      </div> 
      {% else  %} 
      <table class="table table-striped table-hover">
          <thead>
            <th>Id</th>
            <th>Responsable</th>
            <th>Empleado</th>
          <th>Producto</th>
          <th>Observacion</th>
          <th>Fecha Prestamo</th>
          <th>Estado</th>
          <th class="all">Accion</th>
        </thead>
        <tbody>
            {% for item in obj %}
                <tr>
                    <td>{{item.prestamo_id}}</td>
                    <td>{{item.uc}}</td>
                    <td>{{item.trabajador}}</td>
                    <td>{{item.producto}}</td>
                    <td>{{item.observacion}}</td>
                    <td>{{item.fechaPrestamo}}</td>
                    <td>{{item.estado|yesno:"Activo, Inactivo"}}</td>
                    <td>
                        <a href="#" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                        
                        <a href="{% url 'prestamos:prestamo_imprimir_uno' item.id %}" class="btn btn-success btn-circle" role="button" target="reportes"><i class="fas fa-print"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      {% endif  %} 

    </div>
  </div>
{% endblock %}

{% block js_page %}
<script>
  //llamada al plugin de jquerys
  $(document).ready(function(){
    $('.table').DataTable()
  })
</script>
{% endblock %}