{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Marcas</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones</div>
          <a class="dropdown-item" href="{% url 'productos:marca_new' %}"><i class="far fa-calendar-plus"></i> Nueva Marca</a>
          
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <!-- Controlo si no hay categorias con un mensaje -->
      {% if not obj %} 
      <div class="alert alert-info">
        No Hay Marcas
      </div> 
      {% else  %} 
      <table class="table table-striped table-hover">
          <thead>
            <th>ID</th>
          <th>Descripcion</th>
          <th>Fecha Creado</th>
          <th>Estado</th>
          <th class="all">Accion</th>
        </thead>
        <tbody>
            {% for item in obj %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.fechaCreacion|date:"d/m/Y H:m:i"}}</td>
                    <td>{{item.estado|yesno:"activo,inactivo"}}</td>
                    <td>
                        <a href="{% url 'productos:marca_edit' item.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                        <a href="{% url 'productos:marca_inactivar' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-thumbs-down"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      {% endif  %} 

    </div>
  </div>
{% endblock %}

{% block js_page %}
<script>
  //llamada al plugin de jquerys
  $(document).ready(function(){
    $('.table').DataTable()
  })
</script>
{% endblock %}