{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Productos</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>Acciones
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones</div>
          <a class="dropdown-item" href="{% url 'productos:producto_new' %}"><i class="far fa-calendar-plus"></i> Nuevo Producto</a>
          <a class="dropdown-item" href="{% url 'productos:producto_reporte' %}" target="reportes"><i class="fas fa-print"></i> Reporte</a>
          
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <!-- Controlo si no hay categorias con un mensaje -->
      {% if not obj %} 
      <div class="alert alert-info">
        No Hay Productos
      </div> 
      {% else  %} 
      <table class="table table-striped table-hover">
          <thead>
            <th>Categoria</th>
            <th>Id</th>
            <th>Imagen</th>
          <th>Descripcion</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Disponibilidad</th>
          <th>Estado</th>
          <th class="all">Accion</th>
        </thead>
        <tbody>
            {% for item in obj %}
                <tr>
                    <td>{{item.categoria}}</td>
                    <td>{{item.id}}</td>
                    {% if item.imagen %}
                    <td><img src="{{ item.imagen.url }}" width="100" alt="imagn empleado"></td>
                    {%else%}
                    <td><img src="" width="100" alt="imagen producto"></td>
                    {% endif %}
                    <td>{{item.descripcion}}</td>
                    <td>{{item.marca}}</td>
                    <td>{{item.modelo}}</td>
                    <td>{{item.estado_prestamo|yesno:"Disponible, Prestado"}}</td>
                    <td>{{item.estado|yesno:"Activo, Inactivo"}}</td>
                    <td>
                        <a href="{% url 'productos:producto_edit' item.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                        <a href="{% url 'productos:producto_inactivar' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-thumbs-down"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      {% endif  %} 

    </div>
  </div>
{% endblock %}

{% block js_page %}
<script>
  //llamada al plugin de jquerys
  $(document).ready(function(){
    $('.table').DataTable()
  })
</script>
{% endblock %}