{% extends 'base/base.html' %}

{% block page_content %}
<form  method="POST" class="form-inline" enctype="multipart/form-data">
    {% csrf_token %}
<div class="col-xl-12 col-md-12 mb-12">
  {% if obj %}
    <div class="card border-left-warning shadow h-100 py-2">
      {% else %}
      <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              {% if obj %}
               <b>Editar</b>
              {% else %}
              <b> Nuevo Trabajador</b>
              {% endif %}
              
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
                <div class="col-5 p-2" >
                    <div class="input-group">
                        <input type="text" name="nombre" maxlength="100" class="form-control" required id="id_nombre" placeholder="Nombre Empleado" value="{% if obj %} {{obj.nombre}}{%endif%}">
                    </div>
                </div>
                <div class="col-5 p-2">
                    <div class="input-group">
                        <input type="text" name="apellido" maxlength="100" class="form-control" required id="id_apellido" placeholder="Apellido Empleado" value="{% if obj %} {{obj.apellido}}{%endif%}">
                    </div>
                </div>
                <div class="col-5 p-2">
                    <div class="input-group">
                        <input type="text" name="cedula" maxlength="10" class="form-control" required id="id_cedula" placeholder="Cedula" value="{% if obj %} {{obj.cedula}}{%endif%}" onkeypress="return validarNumero(event)" onblur="validar()">
                    </div>
                </div>
                
            </div>
            <div class="row">
                
                <div class="col-10 p-2">
                    <div class="input-group">
                        <input type="text" name="direccion" maxlength="100" class="form-control" required id="id_direccion" placeholder="Direccion Empleado" value="{% if obj %} {{obj.direccion}}{%endif%}">
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-5 p-2">
                    <div class="input-group">
                        <input type="email" name="correo" maxlength="100" class="form-control" required id="id_correo" placeholder="Correo Empleado" value="{% if obj %} {{obj.correo}}{%endif%}">
                    </div>
                </div>
                <div class="col-5 p-2">
                    <div class="input-group">
                        <input type="text" name="celular" maxlength="10" class="form-control" required id="id_celular" placeholder="Celular Empleado" value="{% if obj %} {{obj.celular}}{%endif%}" onkeypress="return validarNumero(event)" onblur="validar_celular()">
                    </div>
                    <div class="form-group">
                        <label for="id_estado">Estado</label>
                        <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {%endif%}>
                    </div>
                </div>
                <div class="row">

                    <div class="col-2 p-3">
                        <div class="input-group">
                            
                            <input type="file" name="imagen" accept="image/*"  id="id_imagen">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-save">Guardar</span></button>
                    <a href="{% url 'trabajadores:trabajador_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>
                </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block js_page %}
<script type="text/javascript" >
    function validarNumero(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        if (tecla == 8)
            return true;
        patron = /[0-9]/;
        te = String.fromCharCode(tecla);
        return patron.test(te);
    }

    function validar() {
        var cedula = document.getElementById("id_cedula").value.trim();
        array = cedula.split("");
        num = array.length;
        if (num == 10) {
            total = 0;
            digito = (array[9] * 1);
            for (i = 0; i < (num - 1); i++) {
                mult = 0;
                if ((i % 2) != 0) {
                    total = total + (array[i] * 1);
                } else {
                    mult = array[i] * 2;
                    if (mult > 9)
                        total = total + (mult - 9);
                    else
                        total = total + mult;
                }
            }
            decena = total / 10;
            decena = Math.floor(decena);
            decena = (decena + 1) * 10;
            final = (decena - total);
            if (((final == 10 && digito == 0) || (final == digito)) && (cedula != '0000000000' && cedula != '2222222222' && cedula != '4444444444' && cedula != '5555555555' && cedula != '7777777777' && cedula != '9999999999')) {
                //       document.getElementById("salida").innerHTML = ("Cedula Válida")
                return true;
            } else {
                //      document.getElementById("salida").innerHTML = ("Cedula no es valida")
                //                alert("Cedula no es valida")
                alert( "Cédula no valida");

                document.getElementById('id_cedula').value = "";

                return false;
            }
        } else {
            //            alert("Cedula tiene menos de 10 digitos")
            alert("La Cédula debe tener 10 dígitos");
            document.getElementById('id_cedula').value = "";

            return false;
        }
    }

    function validar_celular() {
            var celular = document.getElementById("id_celular").value
                if (celular) {
                    if (celular.length < 10) {
                       
                        alert("faltan números")
                        document.getElementById('id_celular').value = "";

                    }
                }

                var expresion = /^09[\d]{8}$/;
                //var expresion = /^( 09)+(0-9)+/
                if (!expresion.test(celular)) {
                    
                    alert("Número NO valido");
                    document.getElementById('id_celular').value = "";
                   

                } else {
                    return true;

                }
            }
</script>
{% endblock %}