<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Prestamos </title>
    
    <style type="text/css">
    @page{
        size:A4;
        margin:1cm;
    }

    .table td .numero{
        text-align: center;
    }

    table{
        border: black 1px solid;
        text-align: center;
        border-collapse: collapse;
        width: 100%;
    }

    th {
   background: #eee;
}
td, th{
    padding: 2px 2px;
    padding-left: 1px;
    padding-right: 1px;
}

    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <center>
                <h4 class="text-center">Sistema de inventario MARSED S.A.</h4>
            </center>
                <h3>Reporte de Empleados al: {{ today|date:"d/m/Y" }}</h3>
                
            </div>
            <hr>
            <table class="table">
                <thead >
                    <th>ID</th>
           
            
          <th>Nombre y Apellido</th>
          <th>Cedula</th>
          <th>Direccion</th>
          <th>Correo</th>
          <th>Celular</th>
          <th>Estado</th>
                </thead>

                <tbody>
                    {% for item in obj %}
                        <tr>
                            <td>{{item.id}}</td>
                    
                    <td>{{item.nombre }} &nbsp; {{ item.apellido}}</td>
                    <td>{{item.cedula}}</td>
                    <td>{{item.direccion}}</td>
                    <td class="block">{{item.correo}}</td>
                    <td>{{item.celular}}</td>
                    <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
                            
                </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>