{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Devoluciones</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>Acciones
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones</div>
          <a class="dropdown-item" href="{% url 'devoluciones:devolucion_new' %}"><i class="far fa-calendar-plus"></i> Nuevo Registro</a>
          <a class="dropdown-item" href="{% url 'devoluciones:devolucion_reporte' %}" target="reportes"><i class="fas fa-print"></i> Reporte</a>
          
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <!-- Controlo si no hay categorias con un mensaje -->
      {% if not obj %} 
      <div class="alert alert-info">
        No Hay Devoluciones
      </div> 
      {% else  %} 
      <table class="table table-striped table-hover">
          <thead>
            <th>Id</th>
            <th>Responsable</th>
          <th>Fecha Devolucion</th>
          <th>Observacion</th>
          
          
        </thead>
        <tbody>
            {% for item in obj %}
                <tr>
                    <td>{{item.devolucion_id}}</td>
                    <td>{{item.uc}}</td>
                    <td>{{item.fecha_devolucion}}</td>
                    <td>{{item.observacion}}</td>
                   
                </tr>
            {% endfor %}
        </tbody>
      </table>
      {% endif  %} 

    </div>
  </div>
{% endblock %}

{% block js_page %}
<script>
  //llamada al plugin de jquerys
  $(document).ready(function(){
    $('.table').DataTable()
  })
</script>
{% endblock %}